.hogan-module-expandable_list .hogan-expandable-list-item > a {
    display: block;
    position: relative;
    padding-right: 30px;
}

.hogan-module-expandable_list .hogan-expandable-list-item > a span {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    border-radius: 50%;
    border: #000 2px solid;
    -webkit-transition: -webkit-transform 300ms ease-out;
    transition: -webkit-transform 300ms ease-out;
    transition: transform 300ms ease-out;
    transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.hogan-module-expandable_list .hogan-expandable-list-item > a.active span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hogan-module-expandable_list .hogan-expandable-list-item > a span::before, .hogan-module-expandable_list .hogan-expandable-list-item > a span::after {
    display: block;
    content: " ";
    position: absolute;
    background-color: #000;
    z-index: 1;
}

.hogan-module-expandable_list .hogan-expandable-list-item > a span::before {
    left: 50%;
    top: 20%;
    bottom: 20%;
    width: 2px;
    margin-left: -1px;
}

.hogan-module-expandable_list .hogan-expandable-list-item > a span::after {
    top: 50%;
    left: 20%;
    right: 20%;
    height: 2px;
    margin-top: -1px;
}

.hogan-module-expandable_list .hogan-expandable-list-item > div {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 300ms ease-out;
    transition: max-height 300ms ease-out;
}

.hogan-module-expandable_list .hogan-expandable-list-item > div > p {
    margin: 12px 0 0;
}
